<div class="carousel carousel-slider">
    <div class="carousel-item" >
    <a href="#one!"><img src="{{games.200.thumbnail}}"></a>
    <p>{{games.0.short_description}}</p>
    </div>
    <div class="carousel-item">
    <a  href="#two!"><img src="{{games.201.thumbnail}}"></a>
    <p>{{games.1.short_description}}</p>
    </div>
    <div class="carousel-item">
    <a  href="#three!"><img src="{{games.203.thumbnail}}"></a>
    {{games.2.short_description}}
    </div>
    <div class="carousel-item">
    <a  href="#four!"><img src="{{games.204.thumbnail}}"></a>
    <p>{{games.3.short_description}}</p>
    </div>
  </div>







