<div class="carousel carousel-slider">
    <div class="carousel-item" >
    <a href="/game/{{popGames.0.id}}"><img src="{{popGames.0.thumbnail}}"></a>
    <p>{{popGames.0.short_description}}</p>
    </div>
    <div class="carousel-item">
    <a  href="/game/{{popGames.1.id}}"><img src="{{popGames.1.thumbnail}}"></a>
    <p>{{popGames.1.short_description}}</p>
    </div>
    <div class="carousel-item">
    <a  href="/game/{{popGames.2.id}}"><img src="{{popGames.2.thumbnail}}"></a>
    {{popGames.2.short_description}}
    </div>
    <div class="carousel-item">
    <a  href="/game/{{popGames.3.id}}"><img src="{{popGames.3.thumbnail}}"></a>
    <p>{{popGames.3.short_description}}</p>
    </div>
  </div>







