<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="{{this.thumbnail}}"></a>
    <a class="carousel-item" href="#two!"><img src="{{this.thumbnail}}"></a>
    <a class="carousel-item" href="#three!"><img src="{{this.thumbnail}}"></a>
    <a class="carousel-item" href="#four!"><img src="{{this.thumbnail}}"></a>
    <a class="carousel-item" href="#five!"><img src="{{this.thumbnail}}"></a>
  </div>