
<article class="game">
  <div class="game-item">
    <div class="game-item-thumbnail">
      <a href="/game/{{this.id}}">
  <img src="{{this.thumbnail}}" alt="{{this.short_description}}">
      </a>
    </div>
  <div class="game-item-details">
    <h3>{{this.title}}</h3>
    <p>By: {{this.developer}}</p>
  </div>
  </div>
</article>